alias l4d2="cd ~/.local/share/Steam/SteamApps/common/Left\ 4\ Dead\ 2/ && vblank_mode=0 primusrun ./hl2_linux -game left4dead2 -steam"
alias shank2="primusrun /home/jeffisabelle/games/Shank\ 2/bin/shank2-bin64"
alias hon="/home/jeffisabelle/HoN/hon.sh"

# alias for emacs
alias ec="emacsclient -t"
alias ecc="emacsclient -c &"

# hosting & vps
alias tunnel="ssh -D 5555 root@107.170.142.247"
alias vps-viveka="ssh root@107.170.142.247"

# alias redshift
alias rshift="redshift -l 39.9:32.8 -t 5700:3600 -g 0.7 -m vidmode &"

# android
alias android-connect="mtpfs -o allow_other /media/GalaxyNexus"
alias android-disconnect="fusermount -u /media/GalaxyNexus"

# python
alias bp="bpython"

# vim
alias vi="vim"

# intellij
alias intellij="/home/jeffisabelle/Downloads/idea-IC-129.451/bin/idea.sh &"

# xclip
alias x="xclip -selection c"

# virtualenv
alias activate=". ~/programming/python/.ENVS/ENV/bin/activate"
alias d151=". ~/programming/python/.ENVS/django151/bin/activate && cd ~/programming/python/.ENVS/django151"
alias bottle=". ~/programming/python/.ENVS/bottle/bin/activate && cd ~/programming/python/.ENVS/bottle/"
alias flask=". ~/programming/python/.ENVS/flask-env/bin/activate && cd ~/programming/python/.ENVS/flask-env/"
alias django=". ~/programming/python/.ENVS/django-env/bin/activate && cd ~/programming/python/.ENVS/django-env/"
